
/* Styles globaux pour toutes les pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #252323 !important;
    color: white !important;
}

header {
    margin-top: 25px;
    margin-bottom: 25px;
  }

.btn-rejoindre{
    background-color: #E3B025 !important;
}

.nav-link {
    color: white !important;
}
