/* Styles globaux pour toutes les pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #252323 !important;
    color: white !important;
}

p {
    font-size: 16px;
}

/* Bouton Plus */
.center-btn {
    text-align: center;
}

.btn-ajouter {
    background-color: #ffc107;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}
.btn-ajouter:hover {
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-ajouter-event {
    background-color: #ffc107;
    color: #252323;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
    transition: all 0.3s ease;
}

.btn-ajouter-event:hover {
    background-color: #e0a800;
}

/* Carte formulaire stylisé */
.carte-formulaire {
    background-color: #333;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

.carte-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffc107;
    text-align: center;
}

.carte-corps {
    background-color: #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.champ-formulaire {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 1rem;
}

.champ-formulaire:focus {
    outline: none;
    background-color: #555;
}

.label {
    margin-top: 5px;
}

#btn-plus {
    background-color: #ffc107;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    }

#btn-plus:hover {
    background-color: #e0a800;
    color: #252323;
}

.btn-new-event {
    text-align: center;
    margin-top: 20px;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    text-decoration: none;
    color: white;
}