a {
    color: white;
    text-decoration: none;
}

/* Redimensionner le conteneur du calendrier */
#calendar {
    max-width: 900px;  
    height: 500px; 
    margin: 0 auto; 
    font-size: 14px;  
}

/* Changer le fond de la cellule qui contient un événement */
.fc-day.fc-day-has-event {
    background-color: rgb(255, 166, 0); 
}

.fc-h-event {
    background-color: #E3B025;
    border : none;
}

/* Style du bouton sans fond */
button {
    background: transparent;
    border: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

button:hover {
    color: white;
}


/* Calendar Container */
#calendar {
    max-width: 700px;
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
}

.fc-event {
    font-size: 0.9rem;
    padding: 5px;
    transition: transform 0.2s;
}

.fc-event:hover {
    transform: scale(1.03);
}

/* Active day background */
.fc-day-today {
    background-color: #E3B025 !important;
}

.fc .fc-button-primary:disabled,
.fc .fc-button-primary {
    background-color: #E3B025;
    border-color: #E3B025;
}


/* Style de la modale */
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    color: black;
    background-color: #E3B025;
    margin: 5% auto;
    padding: 20px;
    width: 40%;
}

/* Style de la croix de fermeture */
.close {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Lorsque la croix est survolée */
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
}