/* Application de la police Plus Jakarta Sans */
body,
.header-title,
.card-header {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* Centrer le formulaire au milieu de l'écran */
body {
    background-color: #2a2a2a;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Style pour le titre "Espace Membres" */
.header-title {
    font-size: 72px;
    font-weight: 800;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
}

/* Card (formulaire) */
.card {
    background-color: #000;
    border: none;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    padding: 50px;
    overflow: hidden;
}

/* Card Header */
.card-header {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

/* Card Body */
.card-body {
    padding: 30px;
}

/* Personnalisation des champs du formulaire */
.form-control {
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #252323;
    color: white;
    font-style: italic;
    font-weight: 400;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, font-style 0.3s, font-weight 0.3s;
    font-size: 25px;
    padding: 15px;
}

/* Lorsqu'un utilisateur clique dans le champ (focus) */
.form-control:focus {
    font-style: normal;
    font-weight: 500;
    /* Utilise une police medium lorsqu'il est en focus */
}

/* Personnalisation des placeholders */
.form-control::placeholder {
    color: #6c6c6c;
    font-style: italic;
    font-size: 25px;
    transition: color 0.3s;
}

/* Effet au passage de la souris sur les champs */
.form-control:hover,
.form-control:focus {
    background-color: #F5F1ED;
    color: #252323;
}

.form-control:focus::placeholder {
    color: #252323;
}

/* Bouton "Se connecter" */
.btn-primary {
    background-color: #E3B025;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

/* Effet hover pour le bouton */
.btn-primary:hover {
    background-color: #D19D19;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Cacher les labels pour l'accessibilité */
.form-label {
    display: none;
}

/* Centrage du contenu dans la carte */
.card-body form {
    text-align: center;
}

/* Responsivité : ajuster la largeur du formulaire pour les petits écrans */
@media (max-width: 768px) {
    .card {
        padding: 30px;
        max-width: 100%;
    }

    .header-title {
        font-size: 48px;
    }
}